<!doctype html>
<html lang="fr">
<head>
  <meta charset="utf-8">
  <title>Le Projet</title>
  <script src="script.js"
  src="https://kit.fontawesome.com/25d75193a7.js"
  ></script>
</head>
<body>
<div class="jumbotron text-center">
  <h1 class="display-4 text-dark">The Hacking Project</h1>
  <h3 class="display-4 text-dark"> The Gossip Project </h3>
  <p class="lead text-secondary">Découvrez notre base de donnée de potin a la con</p>
  <a class="btn btn-dark btn-lg" href="#" role="button"> Bientot ! Participer </a>
  <a class="btn btn-secondary btn-lg" href="#" role="button">Bientot ! Se connecter </a>
</div>
</div>

