<!doctype html>
<html lang="fr">
<head>
  <meta charset="utf-8">
  <title><%= params["first_name"] %></title>
  <script src="script.js"></script>
</head>
<body>
<h1> Notre Equipe </h1>
<div class="card-deck m-3">
  <div class="card">
    <img class="card-img-top" src="https://i.skyrock.net/3798/7013798/pics/115802609.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Kiki</h5>
      <p class="card-text">Nous avons debauché Killian il y 'a 1 mois. Ancien chauffeur routier, il a tout perdu lorsqu'il a percuté un arbre qui traversait l'autoroute, bien que selon les temoins, c'est plutot lui qui est sortie de la route taper dans l'arbre. Un affaire judiciaire est en cours pour tentative d'arboricide</p>
    </div>
    <div class="card-footer">
      <small class="text-muted">"mmmmoué...." Kiki, toute les 10 minutes</small>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="https://pbs.twimg.com/profile_images/1096890540933697536/DjoSDbka.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Lolo</h5>
      <p class="card-text">Lolo a une bonne tete de cul, heureuc representant des tete de fion, il est un homme fier et tiens particulierement a se rasé chaque jour pour mieux exposer son..... menton (Fion?) a la face du monde.</p>
    </div>
    <div class="card-footer">
      <small class="text-muted">"Il est ou mon pare brise ?" Lolo, le 25 Oct 2020</small>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="https://i.skyrock.net/9148/70069148/pics/2833989544_1.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Gogo</h5>
      <p class="card-text">D'un naturel rieur, c'est le beau gosse de l'equipe ! il as des probleme s d'argent regulierement a cause de son budget brosse a dents. Un jour il a avalé un oiseau en discutant avec un pote a lui sur le bords de mer</p>
    </div>
    <div class="card-footer">
      <small class="text-muted">"One Piece sétrobien !" Gogo, dans une autre vie</small>
    </div>
  </div>
  </div>
</div>
</body>
</html>

