<!doctype html>
<html lang="fr">
<!-- Head -->
<head>
  <meta charset="utf-8">
  <title>Contact</title>
  <script src="script.js"></script>
</head>
 <!-- Body -->
<body>
<!-- Info -->
<h1> Chris</h1>
<h3> Telephone : 0 836 65 65 65 </h3>
<h3> Email : Christeufeur83@gmail.com </h3>
<h3> Le reste c'est </h3>
<h1> Work In Progress </h1>
</body>
</html>